{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Termo Dos Cria</title>
		<link href="{% static 'index.css' %}" rel="stylesheet" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">

		<script src="https://cdn.jsdelivr.net/npm/@simondmc/popup-js@1.4.3/popup.min.js"></script>
        <script src="/static/game.js"></script>
        <link rel="shortcut icon" type="image/ico" href="{% static 'favicon.ico' %}" >
	</head>
	
	<body>
		<div class=navbar>
			<div class="esq-p-button">
				<a href="/info"><div class="info"><p class="p-button"><img src="{% static 'ii.svg' %}" alt=""></p></div></a>
				<div class="rule"><p class="p-button"><img src="{% static '_.svg' %}" alt=""></p></div>
			</div>
			<a class="logo" href="/"><div class="name"><h1>TERMO DOS CRIAS</h1></div></a>
			<div class="dir-p-button">
				<div class="stats"><p class="p-button"><img src="{% static 'chart.svg' %}" alt=""></p></div>
				<div class="config"><p class="p-button"><img src="{% static 'setting-2.svg' %}" alt=""></p></div>
			</div>
		</div>
		<section id="content" class="container">
			{% block content %}
			{% endblock %}
		</section>
  	</body>
	  <script>
        const configPopup = new Popup({
            id: 'config-popup',
            title: '',
            content: `<p>Alto Contraste</p><label class="switch"><input type="checkbox"><span class="slider"></span></label>
            <p>Modo Díficil</p><label class="switch"><input type="checkbox"><span class="slider"></span></label><div></div> `,
        });

        button = document.querySelector('.config');

        button.addEventListener('click', () => {
            configPopup.show();
        });

        const rulesPopup = new Popup({    id: "color-info",
            title: "",
            content: `
            <p class="texto">Descubra a palavra certa em 6 tentativas. Depois de cada tentativa, as peças mostram o quão perto você está da solução</p>
            <div class="turma">
                <div class="box-popup verde "><p class="char">T</p></div>
                <div class="box-popup"><p class="char">U</p></div>
                <div class="box-popup"><p class="char">R</p></div>
                <div class="box-popup"><p class="char">M</p></div>
                <div class="box-popup"><p class="char">A</p></div>
            </div>
            <div class="linha1">
                <p class="texto">A letra</p>
                    <div class="letra-t">
                        <div class="box-popup verde linha"><p class="char">T</p></div>
                    </div>
                <p class="texto">faz parte da palavra e está na posição correta. </p>
            </div>
            <div>
                <div class="letter ">
                    <div class="box-popup"><p class="char">V</p></div>
                    <div class="box-popup"><p class="char">I</p></div>
                    <div class="box-popup"><p class="char">O</p></div>
                    <div class="box-popup amarela"><p class="char">L</p></div>
                    <div class="box-popup"><p class="char">A</p></div>
                </div>
            </div>
            <div class="linha2">
                <p class="texto">A letra</p>
                    <div class="letter">
                        <div class="box-popup amarela linha"><p class="char">L</p></div>
                    </div>
                <p class="texto">faz parte da palavra mas em outra posição.</p>
            </div>
            <div>
                <div class="letter">
                    <div class="box-popup"><p class="char">P</p></div>
                    <div class="box-popup"><p class="char">U</p></div>
                    <div class="box-popup"><p class="char">L</p></div>
                    <div class="box-popup cinza"><p class="char">G</p></div>
                    <div class="box-popup"><p class="char">A</p></div>
                </div>
            </div>
            <div class="linha3">
                <p class="texto">A letra</p>
                    <div class="letter">
                        <div class="box-popup cinza linha"><p class="char">G</p></div>
                    </div>
                <p class="texto">não faz parte de nenhuma posição da palavra.</p>
            </div>
            <p class="texto">Os acentos são preenchidos automaticamente, e não são considerados nas dicas.</p>
            <p class="texto">As palavras podem possuir letras repetidas.</p>
            <p class="texto">Uma palavra nova aparece a cada dia.</p>`,
            titleColor: "rgb(92, 0, 95)",
            titleMargin: "0",
            backgroundColor: "#ffebfe",});

                button = document.querySelector('.rule');

                button.addEventListener('click', () => {
                    rulesPopup.show();
                });
        const statsPopup = new Popup({    id: "color-info",
        title: "",
        content: `<div class="superior-stats">
            <div class="jogos">
                <p class="numeros-stats">0</p>
                <p class="stats-text">Jogos</p>
            </div>
            <div class="vitorias">
                <p class="numeros-stats">0</p>
                <p class="stats-text">De vitórias</p>
            </div>
            <div class="sequencia">
                <p class="numeros-stats">0</p>
                <p class="stats-text">Sequência de vitórias</p>
            </div>
            <div class="melhor-seq">
                <p class="numeros-stats">0</p>
                <p class="stats-text">Melhor sequência</p>
            </div>
        </div>
            <div class="titulo">
                <p class="titulo-text">Distribuição de tentativas</p>
            </div>
        <div class="grafico">
            <div class="linha1-stats">
                <p class="tentativas">1</p>
                <div class="barra">
                    <p class="numero-vitoria">0</p>
                </div>
            </div>
            <div class="linha2-stats">
                <p class="tentativas">2</p>
                <div class="barra">
                    <p class="numero-vitoria">0</p>
                </div>
            </div>
            <div class="linha3-stats">
                <p class="tentativas">3</p>
                <div class="barra azul">
                    <p class="numero-vitoria">1</p>
                </div>
            </div>
            <div class="linha4-stats">
                <p class="tentativas">4</p>
                <div class="barra">
                    <p class="numero-vitoria">0</p>
                </div>
            </div>
            <div class="linha5-stats">
                <p class="tentativas">5</p>
                <div class="barra">
                    <p class="numero-vitoria">0</p>
                </div>
            </div>
            <div class="linha6-stats">
                <p class="tentativas"><img src="/static/morte.svg" class="caveira" alt=""></p>
                <div class="barra">
                    <p class="numero-vitoria">0</p>
                </div>
            </div>
        </div>
        <div class="proxima-tentativa">
            <p class="tempo-palavra">Próxima palavra em</p>
            <div id="clock">00:00:00</div>
        </div>`,
        titleColor: "rgb(92, 0, 95)",
        titleMargin: "0",
        backgroundColor: "#ffebfe",});

            stats = document.querySelector('.stats');

            stats.addEventListener('click', () => {
                statsPopup.show();
            });
            function updateClock() {
                const now = new Date();
                const midnight = new Date(now.getFullYear(), now.getMonth(), now.getDate() + 1, 0, 0, 0);
                
                let diff = midnight - now;
                
                let hours = Math.floor(diff / (1000 * 60 * 60));
                diff -= hours * (1000 * 60 * 60);
                let minutes = Math.floor(diff / (1000 * 60));
                diff -= minutes * (1000 * 60);
                let seconds = Math.floor(diff / 1000);
                
                hours = hours < 10 ? '0' + hours : hours;
                minutes = minutes < 10 ? '0' + minutes : minutes;
                seconds = seconds < 10 ? '0' + seconds : seconds;
                
                const timeString = hours + ':' + minutes + ':' + seconds;
                document.getElementById('clock').textContent = timeString;
            }

            setInterval(updateClock, 1000);
            updateClock();
      </script>
</html>