{% extends "base.html" %}
{% block content %}
<div class="notify">
    <div aria-live="assertive" tabindex="0" id="msg"
        style="animation: 0.25s linear 0s 1 normal forwards running popup;">
        <slot id="notify-text">Teste</slot>
    </div>
</div>
<div class="letter-box">
    <div class="letter">
        <div class="box">
            <p class="char active guess edit"></p>
        </div>
        <div class="box">
            <p class="char active guess"></p>
        </div>
        <div class="box">
            <p class="char active guess"></p>
        </div>
        <div class="box">
            <p class="char active guess"></p>
        </div>
        <div class="box">
            <p class="char active guess"></p>
        </div>
    </div>
    <div class="letter">
        <div class="box">
            <p class="char guess"></p>
        </div>
        <div class="box">
            <p class="char guess"></p>
        </div>
        <div class="box">
            <p class="char guess"></p>
        </div>
        <div class="box">
            <p class="char guess"></p>
        </div>
        <div class="box">
            <p class="char guess"></p>
        </div>
    </div>
    <div class="letter">
        <div class="box">
            <p class="char guess"></p>
        </div>
        <div class="box">
            <p class="char guess"></p>
        </div>
        <div class="box">
            <p class="char guess"></p>
        </div>
        <div class="box">
            <p class="char guess"></p>
        </div>
        <div class="box">
            <p class="char guess"></p>
        </div>
    </div>
    <div class="letter">
        <div class="box">
            <p class="char guess"></p>
        </div>
        <div class="box">
            <p class="char guess"></p>
        </div>
        <div class="box">
            <p class="char guess"></p>
        </div>
        <div class="box">
            <p class="char guess"></p>
        </div>
        <div class="box">
            <p class="char guess"></p>
        </div>
    </div>
    <div class="letter">
        <div class="box">
            <p class="char guess"></p>
        </div>
        <div class="box">
            <p class="char guess"></p>
        </div>
        <div class="box">
            <p class="char guess"></p>
        </div>
        <div class="box">
            <p class="char guess"></p>
        </div>
        <div class="box">
            <p class="char guess"></p>
        </div>
    </div>
</div>
<div class="keyboard-box">
    <div class="keyboard">
        <div class="keyrow1">
            <button class="key">Q</button>
            <button class="key">W</button>
            <button class="key">E</button>
            <button class="key">R</button>
            <button class="key">T</button>
            <button class="key">Y</button>
            <button class="key">U</button>
            <button class="key">I</button>
            <button class="key">O</button>
            <button class="key">P</button>
        </div>
        <div class="keyrow2">
            <button class="key">A</button>
            <button class="key">S</button>
            <button class="key">D</button>
            <button class="key">F</button>
            <button class="key">G</button>
            <button class="key">H</button>
            <button class="key">J</button>
            <button class="key">K</button>
            <button class="key">L</button>
            <button class="key del">delete</button>
        </div>
        <div class="keyrow3">
            <button class="key">Z</button>
            <button class="key">X</button>
            <button class="key">C</button>
            <button class="key">V</button>
            <button class="key">B</button>
            <button class="key">N</button>
            <button class="key">M</button>
            <button class="key ent">ENTER</button>
        </div>
    </div>
</div>
{% endblock %}