<link href="/static/info.css" rel="stylesheet" />

{% extends "base.html" %}
{% block content %}
<h1 class="titulo-info">EAI, SUAVE?</h1>
<div class="container-info">
    <div class="conteudo-info">
        <p>O <a class="link" href="/">Termo dos crias</a> foi desenvolvido em 2024 por alunos de Ciência da Computação da <a class="link" href="https://www.unimar.br/">UNIMAR - Universidade de Marília</a>, sendo eles: <br>
            <br>    
            <a class="link" href="https://github.com/adrian2004">. Adrian Jaquier;</a><br>
            <a class="link" href="https://github.com/ASBelluci">. Alexandre Belluci;</a><br>
            <a class="link" href="https://github.com/bennytrindade">. Benny Trindade;</a><br>
            <a class="link" href="https://github.com/EduardoMnzs">. Eduardo Menezes;</a><br>
            <a class="link" href="https://github.com/gustavogasperetti">. Gustavo Leite;</a><br>
            <a class="link" href="https://github.com/Kauefranca">. Kauê França;</a><br>
            <a class="link" href="https://github.com/samueldscosta">. Samuel Costa.</a><br>
            <br>
            Originalmente, era uma versão baseada no <a class="link" href="https://term.ooo/">Termo</a>, criado por <a class="link" href="https://fserb.com/">Fernando Serbonici.</a><br>
            <br>
            A lista de palavras utilizadas nos jogos vem do <a class="link" href="https://github.com/fserb/pt-br">léxico pt-br</a>, que está agora disponível através da licença MIT.</p>
    </div>
    <div class="rodape-info">
        <p>Copyright ©️ 2024 Termo dos crias. <br>
            Todos os direitos reservados.</p>
    </div>
</div>
{% endblock %}