{% extends "base.html" %}
{% block content %}
    <p>Descubra a palavra certa em 6 tentativas. Depois de cada tentativa, as peças mostram o quão perto você está da solução</p>
    <div class="turma">
        <div class="box verde"><p class="char">T</p></div>
        <div class="box"><p class="char">U</p></div>
        <div class="box"><p class="char">R</p></div>
        <div class="box"><p class="char">M</p></div>
        <div class="box"><p class="char">A</p></div>
    </div>
    <div class="linha1">
        <p>A letra 
        <div class="letra-t">
            <div class="box verde"><p class="char">T</p></div>
            faz parte da palavra e está na posição correta. 
        </div>
        
        </p>
    </div>
    <div>
        <div class="letter ">
            <div class="box"><p class="char">V</p></div>
            <div class="box"><p class="char">I</p></div>
            <div class="box"><p class="char">O</p></div>
            <div class="box amarela"><p class="char">L</p></div>
            <div class="box"><p class="char">A</p></div>
        </div>

    </div>
    <div>
        <p>A letra
            <div class="letter">
                <div class="box amarela"><p class="char">L</p></div>
            faz parte da palavra mas em outra posição.
        </p>

    </div>
    <div>
        <div class="letter">
            <div class="box"><p class="char">P</p></div>
            <div class="box"><p class="char">U</p></div>
            <div class="box"><p class="char">L</p></div>
            <div class="box cinza"><p class="char">G</p></div>
            <div class="box"><p class="char">A</p></div>
        </div>

    </div>
    <div>
        <p>A letra
            <div class="letter">
                <div class="box cinza"><p class="char">G</p></div>
            não faz parte de nenhuma posição da palavra.
        </p>

    </div>
    <p>Os acentos são preenchidos automaticamente, e não são considerados nas dicas.
        As palavras podem possuir letras repetidas.
        Uma palavra nova aparece a cada dia.</p>
{% endblock %}