body {
    background-color: #EBEBEB;
    font-family: "Mitr", sans-serif;
}

.logo { 
    text-decoration: none;
}

.name {
    color: #6F7276 !important;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
}

p.char {
    margin-top: -6px !important;
    margin-left: -6px !important;
    margin-bottom: 0px;
    font-size: 38px;
    font-family: "Mitr", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.p-button {
    margin-block: 0px;
    display: flex;
}

.info,
.rule,
.stats,
.config {
    border: solid #636363;
    border-radius: 15px;
    height: fit-content;
    padding: 15px;
    margin-inline: 4px;
    max-height: 62px;
    max-width: 62px;
    /* height: 100%;
    width: 100%; */
}

.esq-p-button {
    display: flex;
    margin-right: 125px;
}

/* AJUSTAR O SVG */
svg {
    height: 25px;
    width: 25px;
}

.dir-p-button {
    display: flex;
    margin-left: 125px;
}

.letter {
    border-radius: 15px;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.box {
    border: solid #636363;
    border-radius: 15px;
    padding-inline: 30px;
    padding-block: 10px;
    margin-top: 10px;
    margin-inline: 6px;
    min-height: 50px;
    min-width: 15px;
    max-height: 50px;
    max-width: 15px;
    background-color: #D9D9D9;
}

.box:has(> p.active) {
    background-color: #FFFF;
}

.box-popup {
    border: solid #636363;
    border-radius: 15px;
    padding-inline: 30px;
    padding-block: 10px;
    margin-top: 10px;
    margin-inline: 6px;
    min-height: 50px;
    min-width: 15px;
    max-height: 50px;
    max-width: 15px;
    background-color: #FFFF;
}

.keyboard {
    display: grid;
    margin-top: 50px;
    justify-content: center;
}

.key {
    color: black;
    background-color: #BDBDBD;
    width: 50px;
    height: 60px;
    border: none;
    border-radius: 8%;
    margin-block: 5px;
    font-family: "Mitr", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    
}

.keyrow2 {
    margin-left: 22px;
}

.keyrow3 {
    margin-left: 44px;
}

.del {
    margin-left: 17px;
    width: auto;
}

.ent {
    margin-left: 17px;
    width: 137px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 14px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;

}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.popup.config-popup .popup-body {
    display: flex !important;
    justify-content: space-between;
    color: #FFFF !important;
}

.verde {
    background-color: #91DAB3 !important;
}

.amarela {
    background-color: #FAEF8C !important;
}

.cinza {
    background-color: #636363 !important;
}

.turma {
    border-radius: 15px;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.letra-t {
    border-radius: 15px;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.linha1 {
    display: flex;
}

.linha2 {
    display: flex;
}

.linha3 {
    display: flex;
}

.linha {
    padding-inline: 14px; 
    padding-block: 1px;
    font-size: large;
    min-height: 1px;
    border-radius: 10px;
}

.texto {
    font-size: 1em;
    color: #FFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup.color-info .popup-title {
    color: #FFFF !important;
}

.popup-title {
    font-size: 35px;
    margin-top: 0 !important;
}

.popup.color-info .popup-content {
    background-color: #7A7A7A !important;
}


.popup.color-info .popup-close {
    color: #FFFF !important;
}

.popup.color-info .popup-body {
    margin-bottom: auto;
}

div:has(> p.edit) {
    border-bottom: #636363 solid 6px !important;
}

.superior-stats {
    justify-content: space-around;
    display: flex;
    color: #FFFF;
}

.titulo {
    display: flex;
    justify-content: center;
    color: #FFFF;
}

.linha1-stats {
    display: flex;
    padding: 10px;
    align-items: center;
}

.linha2-stats {
    display: flex;
    padding: 10px;
    align-items: center;
}

.linha3-stats {
    display: flex;
    padding: 10px;
    align-items: center;
}

.linha4-stats {
    display: flex;
    padding: 10px;
    align-items: center;
}

.linha5-stats {
    display: flex;
    padding: 10px;
    align-items: center;
}

.linha6-stats {
    display: flex;
    padding: 10px;
    align-items: center;
}

.caveira {
    margin-right: -20px;
}

.barra {
    background-color: #D9D9D9;
    width: 120px;
    margin-left: 40px;
    border-radius: 15px;
}

.numero-vitoria {
    margin-left: 80%;
    color: #FFFF;
}

.numeros-stats {
    justify-content: center;
    display: flex;
}

.azul {
    background-color: #8CE6FA;
}

.tempo-palavra {
    display: flex;
    justify-content: center;
}

#clock {
    color: #FFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tentativas {
    color: #D9D9D9;
}

.proxima-tentativa {
    color: #FFFF;
}

.popup.config-popup .popup-content {
    background-color: #7A7A7A !important;
}

.popup.config-popup .popup-close {
    color: #FFFF !important;
}

.notify {
    flex-shrink: 0;
    height: 4vh;
    margin: 0;
}

#msg {
    background-color: #009AFE;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.0vh;
    margin: 0 auto;
    padding: 0.2em 1.2em;
    border-radius: 0.4em;
    width: 500px;
    display: none;
}