.titulo-info { 
    color: #6F7276;
    text-align: center;
    font-size: 2em;
}

.conteudo-info {
    font-size: 25px;
    margin-inline: 10vh;
}

.rodape-info {
    color: #6F7276;
    display: flex;
    text-align: right;
    justify-content: end;
    margin-top: 130px;
    margin-right: 50px;
}

.link {
    font-weight: bold;
    color: #0F5362;
    text-decoration: none;
}